  $MainColor: #99CC99;
  // $maxWidth: 1920px;
  $maxWidth: 100%;
  $minWidth: 750px;
  $imageWidth: 100%;
  $Fontface: 'Oswald', sans-serif;
  $FontcolorPrimary: white;
  $FontcolorSecondary:  #333333;
  $columns: 12;
  $columnsWidth: 100% / $columns;

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row{
    margin-bottom: 15px;
    width: $maxWidth;
      &::after{
      clear: both;
      display: block;
      content: '';
      }
  }

  .col{
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  }

  @for $i from 1 through $columns{
    .col#{$i}{
      width: $columnsWidth * $i;
      }
    .offset#{$i}{
      margin-left: $columnsWidth * $i;
      }
    }

  .pageContainer{
  max-width: $maxWidth;
  margin: 0 auto;
  }

  body{
  background-color:$MainColor;
  }


  header{
  width: 100%;
  height: 120px;
  }

  #header_img{
  width: 100%;
  }

  #logo{
  width: 25%;
  margin-top: 2%;
  margin-left: 4%;
  }

  nav{
  width: 30%;
  height: 7vh;
  float: right;
  margin-top: 3%;
  margin-right: 4%;
  }

  nav ul{
  // width: 20%;
  // height: 5vh;
  }

  nav li{
  display: inline-block;
  font-family: $Fontface;
  color: $FontcolorPrimary;
  font-size: 45px;
  padding-right: 10%;
  list-style-type: none;
  text-shadow: 0.5px 0.5px 1px $FontcolorSecondary;

    a{
    text-decoration: $FontcolorPrimary;
    color: $FontcolorPrimary;
    }
    a:hover{
    text-decoration: underline;
    }
  }

.header_button_border{
  height: 20vh;
  border: 5px $FontcolorPrimary solid;
  background-color: blue;

}



  .header_button{
    background-color: $FontcolorPrimary;
    width: 95%;
    height: 15vh;
    margin-top: 4%;
    margin-left: 2%;
    filter: alpha(opacity=50);

  }

  .header_button a{
    font-family: $Fontface;
    font-size: 50px;
    color: $FontcolorPrimary;
    color: black;
    opacity: 0;
  }


  button{
    // background-color: $FontcolorPrimary;
    // width: 95%;
    // height: 15vh;
    // margin-top: 4%;
    // margin-left: 2%;
    // opacity: 0.5;
    // filter: alpha(opacity=50);
  }




  p{
  color: $FontcolorSecondary;
  }
